# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.bin

# Dependency directories (remove the comment below to include it)
# vendor/

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# History of executed commands in REPL.
.repl_history

# JetBrains IDEs
.idea/
*.iml

# VSCode
.vscode/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.s

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Go build cache
build/

# Go Modules
go.mod
go.sum
vendor/
Gopkg.lock
Gopkg.toml

# Log files
*.log

# Microsoft Office temporary files
~$*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
.DS_Store
.DS_Store?